.footer{
    background-color: purple;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo{
    background-color: aqua;
    border: 2px solid black;
}
.footerText{
    background-color: bisque;
    border: 2px solid black;
}


