/* for styling specific to this component, use class names */
.navBar{
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.homeLink{
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 2%;
}
.aboutLink{
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 2%;
}
