/* for styling specific to this component, use class names */
.navBar{
    background-color: orange;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navLink1{
    background-color: aliceblue;
    border: 2px solid black;
}
.navLink2{
    background-color: aliceblue;
    border: 2px solid black;
}
.navLink3{
    background-color: aliceblue;
    border: 2px solid black;
}