.pageContent{
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    gap: 2rem;
    padding: 5%;
    min-height: 80vh;
}
.project1{
    background-color: orange;
    padding: 5%;
}
.project2{
    background-color: orange;
    padding: 5%;
}
