.pageContent{
    background-color: green;
    border: 10px;
    border-style: solid;
    border-color:pink;
    margin-left: 80%;
    margin-right: 30%;
    margin-top: 39%;
    padding-left: 30%;
    padding-right: 70%;
}